### String Based Assignment Problem

---

### 1.Write a program to reverse a string.

In [1]:
s=str(input("Enter any string"))
print(s[::-1])

Enter any string Hello, World!

!dlroW ,olleH

#### 2.Check if a string is a palindrome.

In [2]:
s=str(input("Enter any string"))
if (s==s[::-1]):
    print("Given string is palindrome")
else:
    print("Given string is not palindrome")

Enter any string abccba

Given string is palindrome

### 3.Convert a string to uppercase.

In [3]:
s=str(input("Enter any string"))
s.upper()

Enter any string hello

'HELLO'

### 4.Convert a string to lowercase.

In [4]:
s=str(input("Enter any string"))
s.lower()

Enter any string Hello

'hello'

### 5.Count the number of vowels in a string.

In [1]:
s=str(input("Enter any string"))
print("Number of vowels:",s.count('a')+s.count('e')+s.count('i')+s.count('o')+s.count('u'))

Enter any string Welcome to the world

Number of vowels: 6

### 6.Count the number of consonants in a string.

In [2]:
s=str(input("Enter any string"))
x=s.count('a')+s.count('e')+s.count('i')+s.count('o')+s.count('u')
print("Number of consonants:",len(s)-x)

Enter any string Welcome to the world

Number of consonants: 14

### 7.Remove all whitespaces from a string.

In [10]:
s=str(input("Enter any string"))
s.replace(" ","")

Enter any string Welcome to the world

'Welcometotheworld'

### 8.Find the length of a string without using the `len()` function.

In [3]:
s=str(input("Enter any string"))
count=0
for i in s:
    count+=1
print("Lenght of a given string:",count)

Enter any string hello

Lenght of a given string: 5

### 9.Check if a string contains a specific word.

In [2]:
string=str(input("Enter any string"))
substring=str(input("Enter any substring"))
if substring in string:
    print("FOUND!")
else:
    print("NOT FOUND!")

Enter any string I have been looking for jammu.
Enter any substring look

FOUND!

### 10.Replace a word in a string with another word.

In [5]:
string=str(input("Enter any string"))
substring=str(input("Enter any substring"))
another_word=str(input("Enter any word which you want to change."))
if substring in string:
    print(string.replace(substring,another_word))
else:
    print("NOT FOUND!")

Enter any string I have been looking for jammu
Enter any substring jammu
Enter any substring sam

I have been looking for sam

### 11.Count the occurrences of a word in a string.

In [4]:
string=str(input("Enter any string"))
substring=str(input("Enter any substring"))
print(f"The word '{substring}' appears {string.count(substring)} times")

Enter any string I have been looking for jammu
Enter any substring have

The word 'have' appears 1 times

### 12.Find the first occurrence of a word in a string.

In [6]:
string=str(input("Enter any string"))
l=str(input("Enter any string which you want to check"))
print("Index of the first occurrence:",string.index(l))

Enter any string I have been looking for jammu.
Enter any string which you want to check been

Index of the first occurrence: 7

### 13.Find the last occurrence of a word in a string.

In [9]:
string=str(input("Enter any string"))
l=str(input("Enter any string which you want to check"))
print("Index of the last occurrence:",string.rindex(l))

Enter any string I have been looking for jammu.
Enter any string which you want to check for

Index of the last occurrence: 20

### 14.Split a string into a list of words.

In [10]:
string=str(input("Enter any string"))
string.split(",")

Enter any string I have been looking for jammu.

['I', 'have', 'been', 'looking', 'for', 'jammu.']

### 15. Join a list of words into a string.

In [14]:
s=['I','have', 'been', 'looking', 'for', 'jammu']
" ".join(s)

'I have been looking for jammu'

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [1]:
string=str(input("Enter any string"))
string.replace(" ","_")

Enter any string I have been looking for jammu

'I_have_been_looking_for_jammu'

### 17. Check if a string starts with a specific word or phrase.

In [14]:
string=str(input("Enter any string:"))
word=str(input("Enter any string which you want to check:"))
l=string.split(" ")
if (word==l[0]):
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

Enter any string: Do not go that way.
Enter any string which you want to check: Do

The text starts with the prefix.

### 18. Check if a string ends with a specific word or phrase.

In [13]:
string=str(input("Enter any string:"))
word=str(input("Enter any string which you want to check:"))
l=string.split(" ")
if (word==l[-1]):
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

Enter any string: Do not go that way.
Enter any string which you want to check: go

The text does not end with the suffix.

### 19. Convert a string to title case

In [15]:
s=str(input("Enter any string"))
print("Title case:",s.title())

Enter any string hello, world

Title case: Hello, World

### 20. Find the longest word in a string.

In [16]:
s=str(input("Enter any string"))
l=s.split(" ")
print("Longest word:",max(l,key=len))

Enter any string Do not go that way.

Longest word: that

### 21. Find the shortest word in a string.

In [1]:
s=str(input("Enter any string"))
l=s.split(" ")
print("Shortest word:",min(l,key=len))

Enter any string Do not go that way.

Shortest word: Do

### 22. Reverse the order of words in a string.

In [13]:
s=str(input("Enter any string"))
l=s.split(" ")
l.reverse()
" ".join(l)

Enter any string Do not go that way

'way that go not Do'

### 23. Check if a string is alphanumeric.

In [2]:
s=str(input("Enter any string"))
if (s.isalnum()):
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter any string hello123

The string is alphanumeric.

### 24.Extract all digits from a string.

In [3]:
s=str(input("Enter any string"))
print("Extracted digits:", end=" ")
for i in s:
    if (i.isdigit()):
        print(i,end=" ")

Enter any string hello123

Extracted digits: 1 2 3

###  25. Extract all alphabets from a string.

In [4]:
s=str(input("Enter any string"))
print("Extracted alphabets:",end=" ")
for i in s:
    if (i.isalpha()):
        print(i,end=" ")

Enter any string hello123

Extracted alphabets: h e l l o

### 26.Count the number of uppercase letters in a string.

In [5]:
count=0
s=str(input("Enter any string"))
for i in s:
    if (i.isupper()):
        count+=1
print("Count of a uppercase letters:",count)

Enter any string Hello, World!

Count of a uppercase letters: 2

### 27. Count the number of lowercase letters in a string.

In [6]:
count=0
s=str(input("Enter any string"))
for i in s:
    if (i.islower()):
        count+=1
print("Count of lowercase letters:",count)

Enter any string Hello, World!

Count of lowercase letters: 8

### 28. Swap the case of each character in a string.

In [8]:
s=str(input("Enter any string"))
s.swapcase()

Enter any string Hello, World!

'hELLO, wORLD!'

### 29. Remove a specific word from a string.

In [25]:
s=str(input("Enter any string"))
w=str(input("Enter any word which you want to remove"))
if w in s:
    print(s.replace(w,""))
else:
    print(s)

Enter any string I love chocolates
Enter any word which you want to remove I

 love chocolates

### 30. Check if a string is a valid email address.

In [9]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

### 31. Extract the username from an email address string.

In [3]:
s=str(input("Enter email id"))
l=s.split("@")
print(l[0])

Enter email id priy_654@gmail.com

priy_654

### 32. Extract the domain name from an email address string.

In [4]:
s=str(input("Enter email id"))
l=s.split("@")
print(l[1])

Enter email id priy_654@gmail.com

gmail.com

### 33. Replace multiple spaces in a string with a single space.

In [2]:
input_string = "Hello     world!   How   are   you?"
' '.join(input_string.split())

'Hello world! How are you?'

### 34. Check if a string is a valid URL.

In [4]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

### 35. Extract the protocol (http or https) from a URL string.

In [6]:
url=str(input("Enter the URL"))
u=url.split(":")
print(u[0])

Enter the URL "https://www.example.com"

"https

### 36. Find the frequency of each character in a string.

In [6]:
s=str(input("Enter the string"))
for i in s:
    print("count of {} is ".format(i),s.count(i))

Enter the string Hello

count of H is  1
count of e is  1
count of l is  2
count of l is  2
count of o is  1

### 37. Remove all punctuation from a string.

In [8]:
test_str = "Gfg, is best : for ! Geeks ;"
 
# printing original string
print("The original string is : " + test_str)
 
# initializing punctuations string
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
for ele in test_str:
    if ele in punc:
        test_str = test_str.replace(ele, "")
 
print("The string after punctuation filter : " + test_str)

The original string is : Gfg, is best : for ! Geeks ;
The string after punctuation filter : Gfg is best  for  Geeks

### 38. Check if a string contains only digits.

In [7]:
s=str(input("Enter the string"))
if (s.isdigit()):
    print("YES")
else:
    print("NO")

Enter the string 1234

YES

### 39. Check if a string contains only alphabets.

In [8]:
s=str(input("Enter the string"))
if (s.isalpha()):
    print("YES")
else:
    print("NO")

Enter the string abc

YES

### 40. Convert a string to a list of characters.

In [11]:
s=str(input("Enter the string"))
list(s)

Enter the string Hello

['H', 'e', 'l', 'l', 'o']

### 41. Check if two strings are anagrams.

In [9]:
str1=str(input("Enter the string"))
str2=str(input("Enter the string"))
str1_list = list(str1)
str1_list.sort()
str2_list = list(str2)
str2_list.sort()
if (str1_list == str2_list):
    print("Given two strings are anagrams.")
else:
    print("Given two strings are not anagrams.")

Enter the string listen
Enter the string silent

Given two strings are anagrams.

### 42. Encode a string using a Caesar cipher.

In [9]:
s=str(input("Enter the string"))
n=int(input("Enter shift key"))
ans=" "
for ch in s:
    if (ch.isupper()):
            ans += chr((ord(ch) + n-65) % 26 + 65)
    else:
            ans += chr((ord(ch) + n-97) % 26 + 97)
print(ans)

Enter the string Az
Enter shift key 3

 Dc

### 43. Decode a Caesar cipher encoded string.

In [10]:
s=str(input("Enter the string"))
n=int(input("Enter shift key"))
ans=" "
for ch in s:
    if (ch.isupper()):
            ans += chr((ord(ch) - n-65) % 26 + 65)
    else:
            ans += chr((ord(ch) - n-97) % 26 + 97)
print(ans)

Enter the string Dc
Enter shift key 3

 Az

### 44. Find the most frequent word in a string.

In [4]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

# Example string
input_str = "Hello world, hello threr! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

### 45. Find all unique words in a string.

In [5]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'hello', 'world', 'there', 'the', 'hows'}

### 46. Count the number of syllables in a string.

In [6]:
def syllable_count(word):
    count = 0
    vowels = "aeiouy"
    if word[0] in vowels:
        count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1
            if word.endswith("e"):
                count -= 1
    if count == 0:
        count += 1
    return count

# Enter a word
a=str(input("Enter a word"))
print(f" '{a}' has {syllable_count(a)} syllables.")

Enter a word hello

 'hello' has 2 syllables.

### 47.  Check if a string contains any special characters.

In [8]:
s=str(input("Enter the string"))
count=0
for i in s:
    if not (i.isalnum()):
        count+=1
if (count!=0):
    print("Given string has special character")
else:
    print("Given string has no special character")

Enter the string Hello13!

Given string has special character

### 48. Remove the nth word from a string.

In [9]:
s=str(input("Enter the string"))
n=int(input("Enter the number of word you want to remove."))
l=s.split(" ")
l.pop(n-1)
" ".join(l)

Enter the string Do not go that way
Enter the number of word you want to remove. 2

'Do go that way'

### 49. Insert a word at the nth position in a string.

In [11]:
s=str(input("Enter the string"))
a=str(input("Enter the word which you want to insert"))
n=int(input("Enter the number of word you want to remove."))
l=s.split(" ")
l.insert(n-1,a)
" ".join(l)

Enter the string Hello, World!
Enter the word which you want to insert sam
Enter the number of word you want to remove. 3

'Hello, World! sam'

### 50. Convert a CSV string to a list of lists.

In [9]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

### List Based Practice Problem :
---

### 1. Create a list with integers from 1 to 10.

In [14]:
l=list(range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [10]:
n=['girl','boy','man','woman','dog']
count=0
for i in n:
    count+=1
print("Lenght of the list:",count)

Lenght of the list: 5

### 3. Append an element to the end of a list.

In [18]:
n=['girl','boy','man','woman','dog']
n.append('123')
print(n)

['girl', 'boy', 'man', 'woman', 'dog', '123']

### 4. Insert an element at a specific index in a list.

In [19]:
n=['girl','boy','man','woman','dog']
n.insert(2,'123')
print(n)

['girl', 'boy', '123', 'man', 'woman', 'dog']

### 5. Remove an element from a list by its value.

In [21]:
n=['girl','boy','man','woman','dog']
n.remove('dog')
print(n)

['girl', 'boy', 'man', 'woman']

### 6. Remove an element from a list by its index.

In [23]:
lst=['girl', 'boy', '123', 'man', 'woman', 'dog']
lst.pop(2)
print(lst)

['girl', 'boy', 'man', 'woman', 'dog']

### 7. Check if an element exists in a list.

In [24]:
lst=['girl', 'boy', '123', 'man', 'woman', 'dog']
s=str(input("Enter the word"))
if s in lst:
    print("FOUND")
else:
    print("DOES NOT FOUND")

Enter the word 123

FOUND

### 8. Find the index of the first occurrence of an element in a list.

In [11]:
lst=['girl', 'boy', '123', 'man', 'woman', 'dog']
element_to_find='123'
print(f"index of {element_to_find} is { lst.index(element_to_find)}")

index of 123 is 2

### 9. Count the occurrences of an element in a list.

In [3]:
n=int(input("Enter the number of elements"))
s=[]
for i in range(n):
    s.append(input())
for j in s:
    print("Count of {} is ".format(j),s.count(j))

Enter the number of elements 5
 123
 dog
 man
 dog
 123

Count of 123 is  2
Count of dog is  2
Count of man is  1
Count of dog is  2
Count of 123 is  2

### 10. Reverse the order of elements in a list.

In [32]:
lst=['girl', 'boy', '123', 'man', 'woman', 'dog']
lst.reverse()
print(lst)

['dog', 'woman', 'man', '123', 'boy', 'girl']

### 11. Sort a list in ascending order.

In [12]:
lst=[50, 10, 30, 40, 20]
lst.sort()
print(lst)

[10, 20, 30, 40, 50]

### 12. Sort a list in descending order.

In [13]:
lst=[50, 10, 30, 40, 20]
lst.sort()
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### 13. Create a list of even numbers from 1 to 20.

In [4]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [5]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [2]:
n=int(input("Enter the number of elements"))
s=[]
for i in range(n):
    s.append(int(input()))
count=0
for i in s:
    count+=i
print("Sum of all elements in list is ",count)

Enter the number of elements 5
 1
 2
 3
 4
 5

Sum of all elements in list is  15

### 16. Find the maximum value in a list.

In [5]:
n=int(input("Enter the number of elements"))
s=[]
for i in range(n):
    s.append(int(input()))
print("Maximum value of the list is ",max(s))

Enter the number of elements 5
 25
 47
 26
 59
 16

Maximum value of the list is  59

### 17. Find the minimum value in a list.

In [6]:
n=int(input("Enter the number of elements"))
s=[]
for i in range(n):
    s.append(int(input()))
print("Maximum value of the list is ",min(s))

Enter the number of elements 5
 26
 38
 35
 19
 39

Maximum value of the list is  19

### 18. Create a list of squares of numbers from 1 to 10.

In [15]:
s=list(range(1,11))
lst=[]
for i in s:
    lst.append(i**2)
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [6]:
import random
n=int(input("Enter the number of elements"))
s=[]
for i in range(n):
    a=random.randint(0,20)
    s.append(a)
print(s)

Enter the number of elements 5

[7, 10, 3, 9, 9]

### 20. Remove duplicates from a list.

In [10]:
n=int(input("Enter the number of elements"))
s=[]
for i in range(n):
    s.append(input())
a=set(s)
print(list(a))

Enter the number of elements 5
 23
 23
 dog
 dog
 man

['23', 'man', 'dog']

### 21. Find the common elements between two lists.

In [12]:
n=int(input("Enter the number of elements"))
print("First list")
str1=[]
for i in range(n):
    str1.append(input())
print("Second list")
str2=[]
for i in range(n):
    str2.append(input())
if (set(str1) & set(str2)):
    print(set(str1) & set(str2))
else:
    print("No common elements")

Enter the number of elements 5

First list

 2
 4
 1
 4
 2

Second list

 4
 7
 4

 5

{'4'}

### 22. Find the difference between two lists.

In [14]:
n=int(input("Enter the number of elements"))
print("First list")
str1=[]
for i in range(n):
    str1.append(input())
print("Second list")
str2=[]
for i in range(n):
    str2.append(input())
s=set(str1)-set(str2)
print(s)

Enter the number of elements 5

First list

 1
 2
 3
 4
 5

Second list

 3
 4
 5
 6
 7

{'1', '2'}

### 23. Merge two lists.

In [17]:
n=int(input("Enter the number of elements"))
print("First list")
str1=[]
for i in range(n):
    str1.append(input())
print("Second list")
str2=[]
for i in range(n):
    str2.append(input())
str1.extend(str2)
print(str1)

Enter the number of elements 4

First list

 1
 2
 3
 4

Second list

 9
 8
 7
 6

['1', '2', '3', '4', '9', '8', '7', '6']

### 24. Multiply all elements in a list by 2.

In [17]:
n=int(input("Enter the number of elements"))
s=[]
for i in range(n):
    s.append(int(input()))
print("After multiplying with 2:")
for j in s:
    print(j*2,end=" ")

Enter the number of elements 5
 1
 2
 3
 4
 5

After multiplying with 2:
2 4 6 8 10

### 25. Filter out all even numbers from a list.

In [2]:
n=int(input("Enter the number of elements"))
s=[]
for i in range(n):
    s.append(int(input()))
print("Even numbers are in list")
for j in s:
    if (j%2==0):
        print(j,end=" ")

Enter the number of elements 5
 2
 6
 4
 1
 5

Even numbers are in list
2 6 4

### 26. Convert a list of strings to a list of integers.

In [4]:
s=['1', '2', '3', '4', '9', '8', '7', '6']
l=[]
for i in s:
    l.append(int(i))
print(l)

[1, 2, 3, 4, 9, 8, 7, 6]

### 27. Convert a list of integers to a list of strings.

In [5]:
s=[1, 2, 3, 4, 9, 8, 7, 6]
l=[]
for i in s:
    l.append(str(i))
print(l)

['1', '2', '3', '4', '9', '8', '7', '6']

### 28. Flatten a nested list.

In [7]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]
l=[]
for i in my_list:
    for j in i:
        l.append(j)
print(l)

[1, 2, 3, 4, 5, 6, 7]

### 29. Create a list of the first 10 Fibonacci numbers.

In [2]:
l=[0,1]
a,b=0,1
for i in range(8):
    ans=a+b
    l.append(ans)
    a=b
    b=ans
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [3]:
l=[1,2,3,4,5,6]
print("Enter the numbers from 1 to 6")
s=[]
for i in range(6):
    s.append(int(input()))
a=s.sort()
if (l==a):
    print("Given list is sorted.")
else:
    print("Given list is not sorted.")

Enter the numbers from 1 to 6

 2
 3
 2
 1
 5
 4

Given list is not sorted.

### 31. Rotate a list to the left by `n` positions.

In [6]:
n=int(input("Enter the number of elements"))
m=int(input("Enter the number"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(input())
print("Original list",s)
lst=[]
for j in range(n):
    a=l[(j+m)%n]
    lst.append(a)
print(lst)

Enter the number of elements 6
Enter the number 2

Enter the elements

 1
 2
 3
 4
 5
 6

Original list ['1', '2', '3', '4', '5', '6']
[3, 4, 5, 6, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [8]:
n=int(input("Enter the number of elements"))
m=int(input("Enter the number"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(input())
print("Original list",s)
lst=[]
for j in range(n):
    a=l[(j-m)%n]
    lst.append(a)
print(lst)

Enter the number of elements 6
Enter the number 2

Enter the elements

 1
 2
 3
 4
 5
 6

Original list ['1', '2', '3', '4', '5', '6']
[5, 6, 1, 2, 3, 4]

### 33. Create a list of prime numbers up to 50.

In [11]:
l=[2]
for i in range(2,51):
    for j in range(2,i):
        if (i%j==0):
            break
        else:
            l.append(i)
l=set(l)
print(list(l))

[2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### 34. Split a list into chunks of size `n`.

In [10]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
m=int(input("Enter the number"))
for i in range(0,len(my_list),m):
    print(my_list[i:i+m])

Enter the number 3

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10]

### 35. Find the second largest number in a list.

In [13]:
n=int(input("Enter the number of elements"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(int(input()))
max1=max(s)
s.remove(max1)
print("Second maximum value of the given list is ",max(s))

Enter the number of elements 5

Enter the elements

 1
 2
 3
 4
 5

Second maximum value of the given list is  4

### 36. Replace every element in a list with its square.

In [16]:
n=int(input("Enter the number of elements"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(int(input()))
print("Original list",s)
for j in range(len(s)):
    s[j]=s[j]**2
print("Square of every elements in list",s)

Enter the number of elements 4

Enter the elements

 54
 67
 32
 98

Original list [54, 67, 32, 98]
Square of every elements in list [2916, 4489, 1024, 9604]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [19]:
lst=['zero','one','two','three']
my_dict={k:n for k,n in enumerate(lst)}
print(my_dict)

{0: 'zero', 1: 'one', 2: 'two', 3: 'three'}

### 38. Shuffle the elements of a list randomly

In [18]:
import random
n=int(input("Enter the number of elements"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(int(input()))
print("Original list",s)
random.shuffle(s)
print("After shuffling the elements of list ",s)

Enter the number of elements 5

Enter the elements

 36
 59
 56
 29
 55

Original list [36, 59, 56, 29, 55]
After shuffling the elements of list  [56, 55, 36, 29, 59]

### 39. Create a list of the first 10 factorial numbers.

In [20]:
import math
s=[]
for i in range(1,11):
    s.append(math.factorial(i))
print(s)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common.

In [23]:
n=int(input("Enter the number of elements"))
print("First list")
str1=[]
for i in range(n):
    str1.append(input())
print("Second list")
str2=[]
for i in range(n):
    str2.append(input())
s=set(str1) & set(str2)
if (s==set()):
    print("Given two string has no common elements")
else:
    print("Common elements of given two strings is ",list(s))

Enter the number of elements 4

First list

 1
 4
 2
 5

Second list

 2
 4
 2
 7

Common elements of given two strings is  ['2', '4']

### 41. Remove all elements from a list.

In [24]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.clear()
print(my_list)

[]

### 42. Replace negative numbers in a list with 0.

In [27]:
n=int(input("Enter the number of elements"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(int(input()))
for j in s:
    if (j<0):
        a=s.index(j)
        s[a]=0
print(s)

Enter the number of elements 4

Enter the elements

 -1
 2
 3
 -9

[0, 2, 3, 0]

### 43. Convert a string into a list of words.

In [2]:
s=str(input("Enter a string"))
s.split()

Enter a string Hello, this is a sample sentence.

['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

### 44. Convert a list of words into a string.

In [5]:
s= ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']
l=' '.join(s)
print(l)

Hello, this is a sample sentence.

### 45. Create a list of the first `n` powers of 2.

In [2]:
n=int(input("Enter the number"))
l=[]
for i in range(1,n+1):
    l.append(pow(2,i))
print(l)

Enter the number 5

[2, 4, 8, 16, 32]

### 46. Find the longest string in a list of strings.

In [11]:
n=int(input("Enter the number of elements"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(input())
a=max(s,key=len)
print("Longest string in the list is ",a)

Enter the number of elements 4

Enter the elements

 yellow
 red
 blue
 white

Longest string in the list is  yellow

### 47. Find the shortest string in a list of strings.

In [13]:
n=int(input("Enter the number of elements"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(input())
a=min(s,key=len)
print("shortest string in the list is ",a)

Enter the number of elements 4

Enter the elements

 yellow
 red
 blue
 white

shortest string in the list is  red

### 48. Create a list of the first `n` triangular numbers

In [2]:
n=int(input("Enter the number"))
l=[]
for i in range(1,n+1):
    a=i*(i+1)/2
    l.append(int(a))
print(l)

Enter the number 5

[1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [4]:
n=int(input("Enter the number of elements"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(input())
print("Enter another subsequence")
m=int(input("Enter the number of elements"))
print("Enter the elements")
s1=[]
for i in range(m):
    s1.append(input())
s1=set(s1)
s=set(s)
if (s1.issubset(s)):
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

Enter the number of elements 5

Enter the elements

 8
 3
 7
 2
 9

Enter another subsequence

Enter the number of elements 2

Enter the elements

 2
 3

Yes, list is subset of other.

### 50. Swap two elements in a list by their indices.

In [7]:
n=int(input("Enter the number of elements"))
print("Enter the elements")
s=[]
for i in range(n):
    s.append(input())
print("Enter the two indices of an elements")
m=[]
for i in range(2):
    m.append(int(input()))
s[m[0]],s[m[1]]=s[m[1]],s[m[0]]
print("After swap of elements, the given list is",s)

Enter the number of elements 5

Enter the elements

 1
 2
 3
 4
 5

Enter the two indices of an elements

 2
 4

After swap of elements, the given list is ['1', '2', '5', '4', '3']

### Tuple Based Practice Problem :
---

### 1. Create a tuple with integers from 1 to 5.

In [8]:
tuple(range(1,6))

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [2]:
s=tuple(range(1,11))
print("The given tuple is",s)
print("The third element of tuple is",s[2])

The given tuple is (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The third element of tuple is 3

### 3. Find the length of a tuple without using the `len()` function.

In [4]:
a=(32,45,11,96,49,27,59,60,38,69,26,69,24,82,64)
print("Given tuple is",a)
ans=0
for i in a:
    ans+=1
print("The lenght of the given tuple is",ans)

Given tuple is (32, 45, 11, 96, 49, 27, 59, 60, 38, 69, 26, 69, 24, 82, 64)
The lenght of the given tuple is 15

### 4. Count the occurrences of an element in a tuple.

In [6]:
s = tuple(input('Enter the tuple ').split())
print(s)
for j in s:
    print("Count of {} is ".format(j),s.count(j))

Enter the tuple  red blue yellow white red white

('red', 'blue', 'yellow', 'white', 'red', 'white')
Count of red is  2
Count of blue is  1
Count of yellow is  1
Count of white is  2
Count of red is  2
Count of white is  2

### 5. Find the index of the first occurrence of an element in a tuple.

In [1]:
s = (1,2,3,4,5,6,7)
print("The tuple is",s)
element_to_find=4
print(f"The first occurrence of {element_to_find} is at index {s.index(element_to_find)}.")

The tuple is (1, 2, 3, 4, 5, 6, 7)
The first occurrence of 4 is at index 3.

### 6. Check if an element exists in a tuple.

In [6]:
s = tuple(input('Enter the tuple ').split())
print("The tuple is",s)
a=input("Enter the element")
if a in s:
    print("{} is exists in the tuple".format(a))
else:
    print("{} is not exists in the tuple".format(a))

Enter the tuple  21 47 49 61 10 28 35

The tuple is ('21', '47', '49', '61', '10', '28', '35')

Enter the element 20

20 is not exists in the tuple

### 7. Convert a tuple to a list.

In [17]:
s=("The",'planets','revolve','around','the','Sun.')
print(list(s))

['The', 'planets', 'revolve', 'around', 'the', 'Sun.']

### 8. Convert a list to a tuple.

In [18]:
s=['The', 'planets', 'revolve', 'around', 'the', 'Sun.']
print(tuple(s))

('The', 'planets', 'revolve', 'around', 'the', 'Sun.')

### 9. Unpack the elements of a tuple into variables.

In [20]:
a = ("MNNIT Allahabad", 5000, "Engineering") 
(college, student, type_ofcollege) = a 
 
print("The college name:",college)
print("Number of students:",student)

The college name: MNNIT Allahabad
Number of students: 5000

### 10. Create a tuple of even numbers from 1 to 10.

In [21]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [22]:
tuple(range(1,11,2))

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [1]:
a=(1,2,3,4)
b=(5,6,7,8,9,10)
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### 13. Repeat a tuple three times.

In [1]:
a=(1,2,3,4,5)
print(a*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 14. Check if a tuple is empty.

In [12]:
s=tuple(input("Enter the elements of tuple").split())
if (len(s)==0):
    print("Given tuple is empty")
else:
    print("Given tuple is not empty")

Enter the elements of tuple

Given tuple is empty

### 15.  Create a nested tuple.

In [21]:
test_tup1 = (1,2,3),
test_tup2 = (4,5,6),
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
test_tup1 = list(test_tup1)
test_tup2 = list(test_tup2)
test_tup1.extend(test_tup2)
print("Tuples after Concatenating : " + str(tuple(test_tup1)))

The original tuple 1 : ((1, 2, 3),)
The original tuple 2 : ((4, 5, 6),)
Tuples after Concatenating : ((1, 2, 3), (4, 5, 6))

### 16. Access the first element of a nested tuple.

In [2]:
s=((1, 2, 3), (4, 5, 6))
print("Nested tuple is:",s)
print("First element of nested tuple is:",s[0])

Nested tuple is: ((1, 2, 3), (4, 5, 6))
First element of nested tuple is: (1, 2, 3)

### 17. Create a tuple with a single element.

In [3]:
single_element_tuple = (42,) 
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

## 18. Compare two tuples.

In [4]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

### 19. Delete a tuple.

In [34]:
a=(1,2,3,4)
print("The original tuple is:"+ str(a))
del(a)
print("After deleting tuple")
print(a)

The original tuple is:(1, 2, 3, 4)
After deleting tuple

NameError: name 'a' is not defined

### 20. Slice a tuple.

In [1]:
s=(1,2,3,4,5,6)
print(s[4:])

(5, 6)

### 21. Find the maximum value in a tuple.

In [2]:
t=tuple(input("Enter the elements of tuple").split())
print("Given tuple is"+str(t))
print("The maximum value of given tuple is",max(t))

Enter the elements of tuple 23 12 57 92 74 20 46 68 24

Given tuple is('23', '12', '57', '92', '74', '20', '46', '68', '24')
The maximum value of given tuple is 92

### 22. Find the minimum value in a tuple.

In [3]:
t=tuple(input("Enter the elements of tuple").split())
print("Given tuple is"+str(t))
print("The minimum value of given tuple is",min(t))

Enter the elements of tuple 46 29 81 52 58 90 15

Given tuple is('46', '29', '81', '52', '58', '90', '15')
The minimum value of given tuple is 15

### 23. Convert a string to a tuple of characters.

In [5]:
s=str(input("Enter a string"))
print(tuple(s))

Enter a string Hello, World!

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

### 24. Convert a tuple of characters to a string.

In [7]:
s=('h', 'e', 'l', 'l', 'o')
for i in s:
    print(i,end="")

hello

### 25. Create a tuple from multiple data types.

In [10]:
s=("hello",123,True,[2,3],100.82)
print(s)

('hello', 123, True, [2, 3], 100.82)

### 26. Check if two tuples are identical.

In [11]:
print("Enter the first tuple")
t1=tuple(input("Enter the elements of tuple").split())
print("Enter the second tuple")
t2=tuple(input("Enter the elements of tuple").split())
print("First tuple"+str(t1))
print("Second tuple"+str(t2))
if (t1==t2):
    print("Given two tuples are same.")
else:
    print("Given two tuples are not same.")

Enter the first tuple

Enter the elements of tuple 1 2 3

Enter the second tuple

Enter the elements of tuple 4 5 6

First tuple('1', '2', '3')
Second tuple('4', '5', '6')
Given two tuples are not same.

### 27. Sort the elements of a tuple.

In [20]:
t=tuple(input("Enter the elements of tuple").split())
a=list(t)
a.sort()
print(tuple(a))

Enter the elements of tuple 36 19 19 38 38 45 10 46

('10', '19', '19', '36', '38', '38', '45', '46')

### 28. Convert a tuple of integers to a tuple of strings.

In [11]:
t=(1,2,3,4,5)
my_tuple=tuple(str(item) for item in t)
print("Original tuple:",t)
print("Tuple of integer:",my_tuple)

Original tuple: (1, 2, 3, 4, 5)
Tuple of integer: ('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [11]:
t=('1','2','3')
my_tuple=tuple(int(item) for item in t)
print(my_tuple)

(1, 2, 3)

### 30. Merge two tuples.

In [1]:
tup1=(1,2,3)
tup2=('a','b','c')
print("After Merging of two tuples"+str(tup1+tup2))

After Merging of two tuples(1, 2, 3, 'a', 'b', 'c')

### 31. Flatten a nested tuple.

In [18]:
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
def flatten_tuple(nested_tuple):
    lst=[]
    for i in nested_tuple:
        if isinstance(i,tuple):
            lst.extend(flatten_tuple(i))
        else:
            lst.append(i)
    return lst
print(tuple(flatten_tuple(nested_tuple)))

(1, 2, 3, 4, 5, 6, 7, 8)

### 32. Create a tuple of the first 5 prime numbers.

In [6]:
#Check prime number
def is_prime(num):
    for i in range(2,num):
        if (num%i==0):
            return False
    return True
# Generate first 5 prime numbers
prime_number_list=[num for num in range(2,50) if is_prime(num)][:5]

#cconvert a list into tuple
prime_number_tuple=tuple(prime_number_list)

#cprint first 5 prime numbers
print("Tuple of first 5 prime numbers:",prime_number_tuple)

Tuple of first 5 prime numbers: (2, 3, 5, 7, 11)

### 33.Check if a tuple is a palindrome.

In [8]:
# Enter the tuple
a=input("Enter the elements of tuple").split()

# check whether the given tuple is palindrome or not
if (a==a[::-1]):
    print("The tuple is palindrome.")
else:
    print("The tuple is non-palindrome.")

Enter the elements of tuple 1 2 3 2 1

The tuple is palindrome.

### 34.Create a tuple of squares of numbers from 1 to 5.

In [11]:
# Create a tuple of squares of 1 to 5 numbers.
square_tuple=tuple(i**2 for i in range(1,6))

# print the tuple of squares.
print("Tuple of squares of numbers from 1 to 5:",square_tuple)

Tuple of squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [4]:
# Create a tuple
tup=(1,2,3,4,5,6,7,8,9)

# filter all even numbers from tuple
tup_list=tuple(num for num in tup if num%2!=0)
print(tuple(tup_list))

(1, 3, 5, 7, 9)

### 36.Multiply all elements in a tuple by 2.

In [8]:
# Create a tuple
tup=(1,2,3,4,5,6,7,8,9)

# Multiply all numbers by 2
tup_list=tuple(i**2 for i in tup)

# print the doubled tuple
print("Doubled tuple:",tup_list)

Doubled tuple: (1, 4, 9, 16, 25, 36, 49, 64, 81)

### 37.Create a tuple of random numbers.

In [10]:
# import ramndom library
import random
random_tuple=tuple(random.randint(1,500) for i in range(10))

# print random tuple
print("Random tuple:",random_tuple)

Random tuple: (277, 251, 212, 362, 216, 110, 462, 422, 246, 346)

### 38.Check if a tuple is sorted.

In [30]:
# input tuple
a=input("Enter the elements of tuple").split()
print("Original tuple:",tuple(a))

# sort the given tuple
def is_sorted(a):
    for i in range(len(a)-1):
        if (a[i]>a[i+1]):
            return False
    return True
is_sorted1=is_sorted(a)
# Check whether the tuple is sorted or not.
if (is_sorted1):
    print("Given tuple is sorted.")
else:
    print("Given tuple is not sorted.")

Enter the elements of tuple 1 2 3 2

Original tuple: ('1', '2', '3', '2')
Given tuple is not sorted.

### 39. Rotate a tuple to the left by n positions.

In [31]:
# Enter tuple
a=input("Enter the elements of tuple").split()

# Enter the shift number
n=int(input("Enter the number."))

# Print the rotated tuple to left
print("Rotated tuple:",a[n:]+a[:n])

Enter the elements of tuple 1 2 3 4 5
Enter the number. 2

Rotated tuple: ['3', '4', '5', '1', '2']

### 40. Rotate a tuple to the right by n positions.

In [37]:
# Enter tuple
a=input("Enter the elements of tuple").split()

# Enter the shift number
n=int(input("Enter the number."))

# Print the rotated tuple to right 
print("Rotated tuple:",a[-n:]+a[:-n])

Enter the elements of tuple 1 2 3 4 5
Enter the number. 2

Rotated tuple: ['4', '5', '1', '2', '3']

### 41.Create a tuple of the first 5 Fibonacci numbers.

In [43]:
a=[0,1]
for i in range(3):
    b=a[i]+a[i+1]
    a.append(b)
    
# Print the first 5 numbers of fibonacci numbers
print(tuple(a))

(0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [2]:
# Enter tuple split by space
a=input("Enter the elements of tuple").split()

# Print user input tuple
print("User input tuple:",tuple(a))

Enter the elements of tuple hi 38 7 100.3 True

User input tuple: ('hi', '38', '7', '100.3', 'True')

### 43. Swap two elements in a tuple.

In [5]:
# Enter tuple 
a=input("Enter the elements of tuple").split()
print("Original tuple:",tuple(a))

# Enter two index 
n1=int(input("Enter first index number"))
n2=int(input("Enter second index number"))

# Swap two elements of tuple
a[n1],a[n2]=a[n2],a[n1]

# print tuple after swaping two elements.
print("After Swaping two elements of tuple:",tuple(a))

Enter the elements of tuple 1 2 3 4 5 6 7 8 9

Original tuple: ('1', '2', '3', '4', '5', '6', '7', '8', '9')

Enter first index number 2
Enter second index number 5

After Swaping two elements of tuple: ('1', '2', '6', '4', '5', '3', '7', '8', '9')

### 44. Reverse the elements of a tuple.

In [8]:
# Enter tuple 
a=input("Enter the elements of tuple").split()
print("Original tuple:",tuple(a))

#Reverse the elements of tuple.
print("Reversed tuple:",tuple(a[::-1]))

Enter the elements of tuple 1 2 3 4

Original tuple: ('1', '2', '3', '4')
Reversed tuple: ('4', '3', '2', '1')

### 45. Create a tuple of the first n powers of 2.

In [14]:
# Define the number n
n=int(input("Enter the number"))

# Create a tuple of first n powers of 2
print("Tuple of first "+str(n)+" powers of 2:",tuple(2**n for n in range(n)))

Enter the number 8

Tuple of first 8 powers of 2: (1, 2, 4, 8, 16, 32, 64, 128)

### 46. Find the longest string in a tuple of strings.

In [16]:
# Enter tuple 
a=input("Enter the elements of tuple").split()
print("Given tuple:",tuple(a))

# Find the longest string in the tuple
print("Longest string in the tuple:",max(a,key=len))

Enter the elements of tuple yellow red blue black

Given tuple: ('yellow', 'red', 'blue', 'black')
longest string in the tuple: yellow

### 47. Find the shortest string in a tuple of strings.

In [17]:
# Enter tuple 
a=input("Enter the elements of tuple").split()
print("Given tuple:",tuple(a))

# Find the shortest string in the tuple
print("Shortest string in the tuple:",min(a,key=len))

Enter the elements of tuple banana kiwi apple grapes

Given tuple: ('banana', 'kiwi', 'apple', 'grapes')
Shortest string in the tuple: kiwi

### 48. Create a tuple of the first n triangular numbers.

In [21]:
# Enter the value n
n=int(input("Enter the value n"))

# print the tuple of triangular numbers
print("First "+str(n)+" triangular numbers:",tuple(i*(i+1)//2 for i in range(1,n+1)))

Enter the value n 6

First 6 triangular numbers: (1, 3, 6, 10, 15, 21)

### 49. Check if a tuple contains another tuple as a subsequence.

In [19]:
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)

def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

### 50. Create a tuple of alternating 1s and 0s of length n.

In [25]:
# Enter the value n.
n=int(input("Enter the value of n"))

# Create a tuple of alternating 1's and 0's of lenght n
print("Tuple of alternating 1s and 0s:",tuple(i%2 for i in range(n)))

Enter the value of n 6

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1)

## **Set based problems:**

---

### 1. Create a set with integers from 1 to 5

In [26]:
# print the set of integers from 1 to 5
print(set(range(1,6)))

{1, 2, 3, 4, 5}

### 2. Add an element to a set

In [28]:
# Take a set
a=set(range(1,6))
print("Original set:",a)

# add elements of set
a.add(6)

# print set after adding elements
print("Set after adding elements:",a)

Original set: {1, 2, 3, 4, 5}
Set after adding elements: {1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [29]:
# Take a set
a=set(range(1,10))
print("Original set:",a)

# remove the elemet 3 from set
a.remove(3)

# After removing one element from set
print("Set after removing one element:",a)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Set after removing one element: {1, 2, 4, 5, 6, 7, 8, 9}

### 4. Check if an element exists in a set.

In [35]:
# Take a set
a=set(range(1,10))
print("Original set:",a)

# Enter the element which you want to check 
n=int(input("Enter the element to check:"))

if (n in a):
    print(str(n)+" is exists in the given set")
else:
    print(str(n)+" is not exists in the given set")

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9}

Enter the element to check: 6

6 is exists in the given set

### 5. Find the length of a set without using the len() function

In [37]:
# Take a set
a=set(range(1,10))
print("Given set:",a)

# find the lenght of a set 
def find_lenght(a):
    count=0
    for i in a:
        count+=1
    return count

# print the lenght of a set
print("Lenght of a set:",find_lenght(a))

Given set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Lenght of a set: 9

### 6. Clear all elements from a set.

In [38]:
# Take a set
a=set(range(1,10))
print("Given set:",a)

# clear the set
a.clear()

# print the set after clearing 
print("Set after clearing:",a)

Given set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Set after clearing: set()

### 7. Create a set of even numbers from 1 to 10

In [39]:
# Display a set of even numbers from 1 to 10
print(set(i for i in range(1,11) if i%2==0))

{2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10

In [40]:
# Display a set of even numbers from 1 to 10
print(set(i for i in range(1,11) if i%2!=0))

{1, 3, 5, 7, 9}

### 9. Find the union of two sets

In [1]:
# Define two sets
set1={1,2,3,4}
set2={5,6,7,8}

# Union of two sets
set_union=set1.union(set2)

# print union of two sets
print("First set:",set1)
print("Second set:",set2)
print("Union of these two sets:",set_union)

First set: {1, 2, 3, 4}
Second set: {8, 5, 6, 7}
Union of these two sets: {1, 2, 3, 4, 5, 6, 7, 8}

### 10. Find the intersection of two sets

In [3]:
# Define two sets
set1={1,2,3,4,5}
set2={5,6,7,8,9,10}

# Intersection of two sets
set_inter=set1.intersection(set2)

# print intersection of two sets
print("First set:",set1)
print("Second set:",set2)
print("Intersection of these two sets:",set_inter)

First set: {1, 2, 3, 4, 5}
Second set: {5, 6, 7, 8, 9, 10}
Intersection of these two sets: {5}

### 11. Find the difference between two sets.

In [5]:
# Define two sets
set1={1,2,3,4,5}
set2={4,5,6,7,8}

# Difference between two sets
set_diff=set1.difference(set2)

# print difference between these two sets
print("First set:",set1)
print("Second set:",set2)
print("Difference of sets:",set_diff)

First set: {1, 2, 3, 4, 5}
Second set: {4, 5, 6, 7, 8}
Difference of sets: {1, 2, 3}

### 12. Check if a set is a subset of another set.

In [10]:
# Define a set
set1=set(range(1,11))
print("Set:",set1)

# Enter the set which you want to check the subset
set_2=input("Enter a set").split( )
set2=set(int(item) for item in set_2)

# Check the subset
if (set2.issubset(set1)):
    print(f"{set2} is subset of {set1}")
else:
    print(f"{set2} is not subset of {set1}")

Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Enter a set 4 5 6

{4, 5, 6} is subset of {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 13. Check if a set is a superset of another set.

In [11]:
# Define two sets
set1 = {1, 2, 3, 4, 5, 6, 7, 8}
set2 = {3, 4, 5}

# check set1 is superset of set2
if (set1.issuperset(set2)):
    print(f"{set1} is superset of {set2}")
else:
    print(f"{set1} is not superset of {set2}")

{1, 2, 3, 4, 5, 6, 7, 8} is superset of {3, 4, 5}

### 14. Create a set from a list

In [12]:
# Define a list
a=[2,5,7,2,6,8,2,7,4]
print("List",a)

# Convert set from list and print
print("Set from list:",set(a))

List [2, 5, 7, 2, 6, 8, 2, 7, 4]
Set from list: {2, 4, 5, 6, 7, 8}

### 15. Convert a set to a list.

In [13]:
# Define a set
a={2,5,9,3,6,8,1,7,4}
print("Set",a)

# Convert list from set and print
print("List from set:",list(a))

Set {1, 2, 3, 4, 5, 6, 7, 8, 9}
List from set: [1, 2, 3, 4, 5, 6, 7, 8, 9]

### 16. Remove a random element from a set.

In [16]:
import random

# Define a set
a={2,5,9,3,6,8,1,7,4}
print(" Original set:",a)

# Choose random element from the set
b=random.choice(list(a))

# Remove random element from the set
a.remove(b)

# Display modified set
print("Set after removing the rendom element:",a)

 Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Set after removing the rendom element: {1, 2, 3, 4, 5, 6, 8, 9}

### 17. Pop an element from a set.

In [21]:
# Define a set
a={2,5,9,3,6,8,1,7,4}
print("Original set:",a)

# Pop a element from the set
a.pop()

# Display the modified set
print("Set after poping:",a)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Set after poping: {2, 3, 4, 5, 6, 7, 8, 9}

### 18. Check if two sets have no elements in common.

In [23]:
# Define two sets
set1={1,2,3,4,5}
set2={4,5,6,7}

# Diplay the two sets
print("First set:",set1)
print("Second set:",set2)

# check the common element from these two sets
if (set1.isdisjoint(set2)):
    print(f"{set1} and {set2} have no common elements.")
else:
    print(f"{set1} and {set2} have common elements.")

First set: {1, 2, 3, 4, 5}
Second set: {4, 5, 6, 7}
{1, 2, 3, 4, 5} and {4, 5, 6, 7} have common elements.

### 19. Find the symmetric difference between two sets.

In [24]:
# Define two sets
set1={1,2,3,4,5}
set2={4,5,6,7}

# Diplay the two sets
print("First set:",set1)
print("Second set:",set2)

# Symmetric difference between two sets
symmetric_diff=set1.symmetric_difference(set2)

## Print the symmetric difference
print("Symmetric Difference:", symmetric_diff)

First set: {1, 2, 3, 4, 5}
Second set: {4, 5, 6, 7}
Symmetric Difference: {1, 2, 3, 6, 7}

### 20. Update a set with elements from another set.

In [26]:
# Define two sets
set1={1,2,3,4,5}
set2={4,5,6,7}

# Diplay the two sets
print("First set:",set1)
print("Second set:",set2)

# Update set1 with elements of set2 
set1.update(set2)

# Display the updated set
print("Updated set:",set1)

First set: {1, 2, 3, 4, 5}
Second set: {4, 5, 6, 7}
Updated set: {1, 2, 3, 4, 5, 6, 7}

### 21. Create a set of the first 5 prime numbers.

In [4]:
# Define a function to check prime number
def is_prime(num):
    for i in range(2,num):
        if (num%i==0):
            return False
    return True

# Create a set of first 5 prime numbers
set_prime=list(iteam for iteam in range(2,20) if is_prime(iteam))[:5]

# Display the first 5 prime numbers
print("Set of first 5 prime numbers:",set(set_prime))

Set of first 5 prime numbers: {2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [6]:
# Define two sets
set1={1,2,3,4,5}
set2={3,4,5,6,7}

# Check whether the two sets are identical or not
if (set1==set2):
    print("The sets are identical")
else:
    print("The sets are not identical")

The sets are not identical

### 23. Create a frozen set

In [7]:
# Define a list of elements 
elements = ['Apple','Banana','Grapes','Kiwi']

# Create a frozen set 
my_frozen_set = frozenset(elements)

# Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({'Apple', 'Banana', 'Kiwi', 'Grapes'})

### 24. Check if a set is disjoint with another set.

In [8]:
# Define two sets
set1={1,2,3,4,5}
set2={3,4,5,6,7}

# Check whether the two sets are disjoint
if (set1.isdisjoint(set2)):
    print("The sets are disjoint")
else:
    print("The sets are not disjoint")

The sets are not disjoint

### 25. Create a set of squares of numbers from 1 to 5.

In [9]:
# Create a set of square of first 5 numbers
set1=set(i**2 for i in range(1,6))

# Display the set of squares of first 5 numbers
print("Set of squares of numbers from 1 to 5:",set1)

Set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [12]:
# Define a set
set1=set(i for i in range(1,10))
print("Original set:",set1)

# Filter out all even numbers from a set.
print("Filter out even numbers from original set:",set(b for b in set1 if b%2==0))

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Filter out even numbers from original set: {8, 2, 4, 6}

### 27. Multiply all elements in a set by 2.

In [14]:
# Define a set
set1=set(i for i in range(1,6))
print("Original set:",set1)

# Multiple the elements of set with 2
print("The set after multiply with 2",set(b*2 for b in set1))

Original set: {1, 2, 3, 4, 5}
The set after multiply with 2 {2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [16]:
# import the random library
import random

# Create a set of random elements from 1 to 50
set_random=set()
for i in range(10):
    set_random.add(random.randint(1,50))

# Display the set of random numbers from 1 to 50
print("Generated set of random numbers from 1 to 50:",set_random)

Generated set of random numbers from 1 to 50: {34, 35, 3, 40, 9, 15, 50, 27}

### 29. Check if a set is empty.

In [17]:
# Enter a set
set1=set(input("Enter the elements of set:").split())

# Check the given set is empty
if (set1==set()):
    print("Given set is empty")
else:
    print("Given set is not empty")

Enter the elements of set:

Given set is empty

### 30. Create a nested set

In [23]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Create a frozen set 
set_1 = frozenset(set1)
set_2 = frozenset(set2)

# Print nested set
print({set_1,set_2})

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

### 31. Remove an element from a set using the discard method.

In [25]:
# Define a set
set1=set(i for i in range(1,11))
print("Original set:",set1)

# Define the element to be removed
element_to_remove=4

# Removing the element 
set1.remove(element_to_remove)

# Print the set after removing the element
print("Set after removing the element:",set1)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set after removing the element: {1, 2, 3, 5, 6, 7, 8, 9, 10}

### 32. Compare two sets.

In [27]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#  Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Check if set1 and set2 is disjoint
is_disjoint=set1.isdisjoint(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

#  Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Is set1 and set2 disjoint?",is_disjoint)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Is set1 and set2 disjoint? False
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

### 33. Create a set from a string.

In [29]:
# Define the string
a="Hello!"

# Create a set from string
set_a=set(a)

# Print the set from string 
print("Given string:",a)
print("Set from given string:",set_a)

Given string: Hello!
Set from given string: {'e', 'o', '!', 'l', 'H'}

### 34. Convert a set of strings to a set of integers.

In [30]:
# Define a set of string
set1={'1','2','3','4','5'}

# Print the set of integers
print(set(int(i) for i in set1))

{1, 2, 3, 4, 5}

### 35. Convert a set of integers to a set of strings.

In [31]:
# Define a set of integers 
set1={1, 2, 3, 4, 5}

# Print the set of strings
print(set(str(i) for i in set1))

{'1', '2', '5', '3', '4'}

### 36. Create a set from a tuple.

In [32]:
# Define a tuple
tup=(1,2,3,4,5)

# Print the set from tuple
print("Set from tuple:",set(tup))

Set from tuple: {1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [34]:
# Define a set 
set1={1, 2, 3, 4, 5}

# Print the tuple from set
print("Tuple from set:",tuple(tup))

Tuple from set: (1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.

In [1]:
# Enter a set
a=set(input("Enter the elements of set").split())

# find the maximum element of set
max_element=max(a)

# Print the maximum element of a set
print("Maximum element of a set:",max_element)

Enter the elements of set 27 19 48 20 18 56 28

Maximum element of a set: 56

### 39. Find the minimum value in a set.

In [2]:
# Enter a set
a=set(input("Enter the elements of set").split())

# find the minimum element of set
min_element=min(a)

# Print the minimum element of a set
print("Minimum element of a set:",min_element)

Enter the elements of set 35 32 1 48 58 35 16

Minimum element of a set: 1

### 40. Create a set from user input.

In [3]:
# Enter a elements of the set
a=set(input("Enter the elements of set").split())

# Print the set
print("The set:",a)

Enter the elements of set apple banana grapes kiwi

The set: {'banana', 'grapes', 'kiwi', 'apple'}

### 41. Check if the intersection of two sets is empty.

In [4]:
# Define two sets
set1={1,2,3,4,5}
set2={3,4,5,6,7}

# Find the intersection of two sets
set_intersection=set1.intersection(set2)

# Check if the intersection of given two sets is empty 
if (set_intersection==set()):
     print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

### 42. Create a set of the first 5 Fibonacci numbers.

In [6]:
# Create a set
fibonacci_set=set()

# add the elements of fibonacci numbers
a,b=0,1
fibonacci_set.add(a)
fibonacci_set.add(b)

for i in range(4):
    ans=a+b
    fibonacci_set.add(ans)
    a=b
    b=ans
    
# Print the set of fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [8]:
# Take a list
a=[3,5,2,5,7,3,7,3,8,1,8,9]
print("The given list:",a)

# Remove duplicates using set
a=set(a)

# Print the list after removing all duplicates
print("List with removed duplicates:",list(a))

The given list: [3, 5, 2, 5, 7, 3, 7, 3, 8, 1, 8, 9]
List with removed duplicates: [1, 2, 3, 5, 7, 8, 9]

### 44. Check if two sets have the same elements, regardless of their count.

In [9]:
# Define two sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Print the result
if (set1==set2):
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

### 45. Create a set of the first n powers of 2

In [10]:
# Take the value of n
n=int(input("Enter the number:"))

# Generate the set of first n powers of 2
print(set(2**i for i in range(n)))

Enter the number: 5

{1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [11]:
# Define a set and a list
my_set = {3, 7, 9, 2, 5}
my_list = [7, 2, 6, 9]

# Convert list into set
my_set1=set(my_list)

# Find the common elements
inter=my_set.intersection(my_set1)

# Print the common elements
print("Common elements:",inter)

Common elements: {9, 2, 7}

### 47. Create a set of the first n triangular numbers.

In [14]:
# Take the value of n
n=int(input("Enter the number:"))

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:",set(int(i*(i+1)/2) for i in range(1,n)))

Enter the number: 10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 28}

### 48. Check if a set contains another set as a subset.

In [1]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print(f"{set2} is a subset of {set1}")
else:
    print(f"{set2} is not a subset of {set1}")

{1, 2} is a subset of {1, 2, 3, 4, 5}

### 49. Create a set of alternating 1s and 0s of length n.

In [2]:
# Take the value of n
n=int(input("Enter the number:"))

# Print a set of alternating 1s and 0s of lenght n
print(set(i%2 for i in range(n)))

Enter the number: 7

{0, 1}

### 50. Merge multiple sets into one.

In [4]:
# Define multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets
merged_set=set1.union(set2,set3)

# Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}